.style-0 {
  color: #fff;
  text-align: left;
  font-family: charcoalcy,sans-serif;
  font-size: 5px;
  font-weight: 400;
  letter-spacing: 0;
  font-style: normal
}
.style-1,
.style-10,
.style-12,
.style-13,
.style-14,
.style-15,
.style-16,
.style-17,
.style-2,
.style-4,
.style-5,
.style-6,
.style-8 {
  color: #680606;
  text-align: left;
  font-family: charcoalcy,sans-serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0;
  font-style: normal
}
.style-10,
.style-12,
.style-13,
.style-14,
.style-15,
.style-16,
.style-17,
.style-5,
.style-6,
.style-8 {
  color: #333;
  font-size: 6px
}
.style-10,
.style-12,
.style-13,
.style-14,
.style-15,
.style-16,
.style-17,
.style-6,
.style-8 {
  color: #650606
}
.style-12,
.style-13,
.style-14,
.style-15,
.style-16,
.style-17 {
  color: #333
}
.style-13,
.style-14,
.style-15,
.style-16,
.style-17 {
  font-family: arialmt,sans-serif
}
.style-14,
.style-15,
.style-16,
.style-17 {
  font-family: charcoalcy,sans-serif;
  font-size: 5px
}
.style-15,
.style-16,
.style-17 {
  color: #898989;
  text-align: center;
  font-size: 8px
}
.style-16,
.style-17 {
  color: #8a8a8a
}
.style-17 {
  color: #fff;
  font-size: 13px
}
.style-14,
.style-17 {
  margin: 5px 0 0 15.25%;
  width: 58.625%;
  z-index: 14;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-17 {
  margin: 40px 0 0 15%;
  width: 23.125%;
  z-index: 17
}
.style-1,
.style-5 {
  margin: 25px 0 0 15.12%;
  width: 26.125%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-5 {
  margin: 8px 0 0 15%;
  width: 68.875%;
  z-index: 5
}
.row-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 9px 0 0 15.12%;
  width: 9.625%;
  height: 1%;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-6,
.style-7 {
  position: initial;
  width: 83.116%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-7 {
  margin: 0 0 0 6.49%;
  width: 10.389%;
  height: 80%;
  z-index: 7
}
.style-2 {
  margin: 17px 0 0 15.12%;
  width: 24%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.row-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 0 0 15%;
  width: 69.625%;
  height: 11.899%;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-12 {
  position: initial;
  margin: 3px 0 0;
  width: 67.863%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-8 {
  position: relative;
  margin: 7px 0 0 .17%;
  width: 11.49%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-3 {
  position: initial;
  margin: 0 0 0 61.75%;
  width: 26.57%;
  height: 100%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-9 {
  margin: 0 0 0 23.75%;
  width: 1%;
  height: .8%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-13,
.style-4 {
  margin: 20px 0 0 15.12%;
  width: 24%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-13 {
  margin: 9px 0 0 15%;
  width: 68.875%;
  z-index: 13
}
.row-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 15.12%;
  width: 9.625%;
  height: 1%;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-10,
.style-11 {
  position: initial;
  width: 83.116%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-11 {
  margin: 0 0 0 6.49%;
  width: 10.389%;
  height: 80%;
  z-index: 11
}
.style-0 {
  margin: 26px 0 0 15.25%;
  width: 52.125%;
  z-index: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-15,
.style-16 {
  margin: 19px 0 0 16%;
  width: 13.375%;
  z-index: 15;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-16 {
  margin: 17px 0 0 17.75%;
  width: 9.125%;
  z-index: 16
}